<div class="p-col-12 p-md-12 p-lg-12">
    <div class="p-grid">
        <div class="p-col-12 p-md-12 p-lg-12">
            <p-toast position="top-center" key="t-msg"></p-toast>
            <p-panel header="User Master">
                <form #f="ngForm" name="Usermaster">
                    <p-card>
                        <div class="p-col-12 no-pad-top" style="margin-left: -8px;">
                            <div #row1 class="p-col-12 p-md-12 p-lg-12">
                                <div class="p-grid">
                                    <div class="p-col-12 p-md-6 p-lg-1"></div>
                                    <div class="p-col-12 p-md-6 p-lg-2">
                                        <div><label for="_role">Role<span class="form-mandatory-field">*</span></label>
                                        </div>
                                        <p-dropdown name="_role" [options]="roleOptions" [(ngModel)]="role"
                                            (onClick)="onSelect('R')" (onChange)="onRoleChange()" required>
                                        </p-dropdown>
                                    </div>
                                    <div class="p-col-12 p-md-6 p-lg-2">
                                        <div><label for="_username">User Name<span
                                                    class="form-mandatory-field">*</span></label></div>
                                        <input type="text" name="_username" class="p-col-12" pInputText
                                            [(ngModel)]="userName" style="text-transform: capitalize;" required />
                                    </div>
                                    <div class="p-col-12 p-md-6 p-lg-2">
                                        <div><label for="_email">Email Id<span
                                                    class="form-mandatory-field">*</span></label></div>
                                        <span class="p-input-icon-right">
                                            <i *ngIf="checkEmail" class="pi pi-spin pi-spinner"></i>
                                            <input type="email" name="_email" class="p-col-12" pInputText
                                                [(ngModel)]="emailId" (input)="checkIfEmailExists()" required />
                                        </span>
                                    </div>
                                    <div class="p-col-12 p-md-6 p-lg-2">
                                        <div><label for="_psswd">Password<span
                                                    class="form-mandatory-field">*</span></label></div>
                                        <input type="text" name="_psswd" class="p-col-12" pInputText
                                            [(ngModel)]="password" required />
                                    </div>
                                    <div class="p-col-12 p-md-6 p-lg-3"></div>
                                    <div class="p-col-12 p-md-6 p-lg-1"></div>
                                    <div *ngIf="showDistrict" class="p-col-12 p-md-6 p-lg-2">
                                        <div><label for="_district">District<span
                                                    class="form-mandatory-field">*</span></label></div>
                                        <p-dropdown name="_district" [options]="districtOptions" [(ngModel)]="district"
                                            (onClick)="onSelect('D')" (onChange)="refreshFields('D')" required>
                                        </p-dropdown>
                                    </div>
                                    <div *ngIf="showTaluk" class="p-col-12 p-md-6 p-lg-2">
                                        <div><label for="_taluk">Taluk<span
                                                    class="form-mandatory-field">*</span></label></div>
                                        <p-dropdown name="_taluk" [options]="talukOptions" [(ngModel)]="taluk"
                                            (onClick)="onSelect('T')" (onChange)="selectDistrict()" required>
                                        </p-dropdown>
                                    </div>
                                    <div *ngIf="showHostelName" class="p-col-12 p-md-6 p-lg-2">
                                        <div><label for="_hostel">Hostel Name<span
                                                    class="form-mandatory-field">*</span></label></div>
                                        <p-dropdown name="_hostel" [options]="hostelOptions" [(ngModel)]="hostelName"
                                            (onClick)="onSelect('HN')" required>
                                        </p-dropdown>
                                    </div>
                                    <div class="p-col-12 p-md-12 p-lg-3" style="margin-top: 23px;">
                                        <p-radioButton name="Flag" label="ACTIVE" value=1 [(ngModel)]="selectedType"
                                            required>
                                        </p-radioButton>
                                        <p-radioButton name="Flag" label="INACTIVE" value=0 [(ngModel)]="selectedType"
                                            required>
                                        </p-radioButton>
                                    </div>
                                    <div class="p-col-12 p-md-12 p-lg-12" style="text-align: center;">
                                        <button pButton type="button" label="Submit" (click)="onSubmit()" icon="pi pi-save" [disabled]="(!f.valid || !f.dirty)"></button>
                                    </div>
                                </div>

                    
            
    <!-- showtable -->
    <div>
        <p-table [value]="data" styleClass="p-datatable-gridlines" [paginator]="true" [rows]="40"
            [rowsPerPageOptions]="[10,20,30,40]">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 2cm;">S.No</th>
                    <th>Role</th>
                    <th>Username</th>
                    <th>Email Id</th>
                    <th>Password</th>
                    <th>District</th>
                    <th>Taluk</th>
                    <th>Hostel Name</th>
                    <th>Status</th>
                    <th>Edit/Update</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                <tr class="tr-border">
                    <td class="td-border">
                        <span class="p-column-title">
                            S.No :
                        </span>
                        <span style="text-align: end;">
                            {{rowIndex+1}}
                        </span>
                    </td>
                    <td class="td-border">
                        <span class="p-column-title">
                            Role :
                        </span>
                        <span style="text-align: end;">
                            {{rowData.Role}}
                        </span>
                    </td>
                    <td class="td-border">
                        <span class="p-column-title">
                            Username :
                        </span>
                        <span style="text-align: end;">
                            {{rowData.UserName}}
                        </span>
                    </td>
                    <td class="td-border">
                        <span class="p-column-title">
                            Email Id :
                        </span>
                        <span style="text-align: end;">
                            {{rowData.EMailId}}
                        </span>
                    </td>
                    <td class="td-border">
                        <span class="p-column-title">
                            Password :
                        </span>
                        <span style="text-align: end;">
                            {{rowData.Pwd}}
                        </span>
                    </td>
                    <td class="td-border">
                        <span class="p-column-title">
                            District :
                        </span>
                        <span style="text-align: end;">
                            {{rowData.Districtname}}
                        </span>
                    </td>
                    <td class="td-border">
                        <span class="p-column-title">
                            Taluk :
                        </span>
                        <span style="text-align: end;">
                            {{rowData.Talukname}}
                        </span>
                    </td>
                    <td class="td-border">
                        <span class="p-column-title">
                            Hostel Name :
                        </span>
                        <span style="text-align: end;">
                            {{rowData.HostelName}}
                        </span>
                    </td>
                    <td class="td-border">
                        <span class="p-column-title">
                            Status :
                        </span>
                        <span style="text-align: end;">
                            {{rowData.status}}
                        </span>
                    </td>
                    <td>
                        <span class="p-column-title">
                            Edit/Update :
                        </span>
                        <span><button icon="pi pi-pencil" pButton type="button" pTooltip="Tap to edit" (click)="onEdit(rowData)">
                        </button></span></td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
</div>
</p-card>
    
</form>
</p-panel>
</div>
</div>
</div>