<block-ui>
<div class="p-grid">
    <div class="p-col-12 p-md-12 p-lg-12">
     <p-toast position="top-center" key="t-msg"></p-toast>
     <p-panel header="Approval Request">
         <p-card>
             <form #f="ngForm" name="approvalForm">
                 <div #row1 class="p-col-12 p-md-12 p-lg-12">
                     <div class="p-grid">
                        <div class="p-col-12 p-md-6 p-lg-2">
                            <label for="_districtname">District Name</label>
                                <input type="text" name="_districtname" pInputText [(ngModel)]="districtName" />
                        </div>
                        <div class="p-col-12 p-md-6 p-lg-2">
                            <label for="_talukname">Taluk Name</label>
                            <input type="text" name="_talukname" pInputText [(ngModel)]="talukName" />
                        </div>
                        <div class="p-col-12 p-md-6 p-lg-3">
                            <label for="_hostelname">Hostel Name</label>
                            <input type="text" name="_hostelname" pInputText [(ngModel)]="hostelName" />
                        </div>
                        <div class="p-col-12 p-md-6 p-lg-2">
                            <div><label for="_approvaltype">Approval Type</label></div>
                            <p-dropdown name="_approvaltype" [options]="ApprovaltypeOptions"
                            (onClick)="onSelect('AL')" (onChange)="loadId()" [(ngModel)]="approvalType" required>
                            </p-dropdown>
                        </div>
                        <div class="p-col-12 p-md-6 p-lg-2">
                            <div><label for="_reqid">Request For</label></div>
                            <p-dropdown name="_reqid" [options]="RequestidOptions"
                                 [(ngModel)]="requestId" required>
                            </p-dropdown>
                        </div>
                        <div class="p-col-12 p-md-6 p-lg-2">
                            <label for="_remarks">Remarks</label>
                            <input type="text" name="_remarks" pInputText [(ngModel)]="remarks" />
                        </div>
                        <div #row2 class="p-col-12 p-md-12 p-lg-12 txt-center">
                            <button pButton type="button" label="Submit" (click)="onSubmit()"
                            [disabled]="(!f.valid)" class="btn-bg"></button>&nbsp;
                                <button pButton type="button" label="View" (click)="onView()"
                                class="btn-bg"></button>&nbsp;
                                <button pButton type="button" label="Clear" 
                                icon="pi pi-times-circle" (click)="onClear()"></button>
                        </div>
                     </div>
                     <p-table #dt [columns]="cols" [value]="data" [paginator]="true" [rows]="10"
                     [rowsPerPageOptions]="[5,10,15,20]" totalRecords="totalRecords"
                     [globalFilterFields]="['ApprovalStatusName','RequestId','ApprovalName']" styleClass="p-datatable-gridlines">
                     <ng-template pTemplate="caption">
                        <div class="p-d-flex">
                            <span class="p-input-icon-left p-ml-auto">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword" />
                            </span>
                        </div>
                        </ng-template>
                     <ng-template pTemplate="header" let-columns>
                         <tr>
                             <th>S.No</th>
                             <th *ngFor="let col of columns">
                                 {{col.header}}
                             </th>
                         </tr>
                     </ng-template>
                     <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
                         <tr [pSelectableRow]="rowData" class="tr-border">
                            <td class="td-border">
                                <span class="p-column-title">
                                    S.No :
                                </span>
                                <span style="text-align: end;">
                                    {{rowIndex+1}}
                                </span>
                            </td>
                            <td *ngFor="let col of columns" [style.text-align]="col.align" class="td-border">
                                <span class="p-column-title">
                                    {{col.header}} :
                                </span>
                                <span style="text-align: end;"> {{rowData[col.field]}}
                                </span>
                            </td>
                         </tr>
                     </ng-template>
                 </p-table>
                 </div>
             </form>
         </p-card>
     </p-panel>
    </div>
</div>
</block-ui>

