<div class="p-grid">
    <div class="p-col-12 p-md-12 p-lg-12">
        <p-toast position="top-center" key="t-msg"></p-toast>
        <p-panel header="Monthlywise Intent Approval">
        <p-card>
            <div class="p-col-12 no-pad-top">
                <div class="p-grid">
                    <div class="p-col-12 p-md-12 p-lg-10 no-pad-top">
                        <div class="p-grid">
                            <div #row1 class="p-col-6 p-md-6 p-lg-2">
                                <div><label for="_district">District</label>
                                </div>
                                <p-dropdown name="_district" [options]="districtOptions" [(ngModel)]="district"
                                    (onClick)="onSelect('D')"
                                     
                                      required>
                                </p-dropdown>
                            </div>
                            <!-- (ngModelChange)="refreshFields('D')" -->
                            <div #row1 class="p-col-6 p-md-6 p-lg-2">
                                <div><label for="_taluk">Taluk</label>
                                </div>
                                <p-dropdown name="_taluk" [options]="talukOptions" [(ngModel)]="taluk"
                                    (onClick)="onSelect('T')" 
                                    (onChange)="loadHostelList()"
                                    required>
                                </p-dropdown>
                            </div>
                            <!-- (onChange)="refreshFields('T')"  -->
                            <div class="p-col-12 p-md-6 p-lg-3">
                                <div><label for="_hostel">Hostel Name</label>
                                </div>
                                <p-dropdown name="_hostel" [options]="hostelOptions" [(ngModel)]="hostelName"
                                   (onChange)="loadTable()" required>
                                </p-dropdown>
                            </div>
                            <div class="p-col-12 p-md-6 p-lg-2">
                                <div class="no-pad-top"><label>Month</label> </div>
                                <p-calendar [(ngModel)]="date" view="month" dateFormat="mm" [readonlyInput]="true"
                                 inputId="monthpicker"></p-calendar>
                              </div>
                              <!-- <div class="p-col-12 p-md-6 p-lg-2" style="margin-top:2%;">
                              <button pButton type="button" label="View" style="margin-left:5%;"  icon="pi pi-eye" (click)="onView()"></button>
                              </div> -->
                        </div>
                    </div>
                </div>
                <div class="p-col-12 p-md-6 p-lg-12">
                    <p-tabView #tabview (onChange)="onTabChange($event)">
                        <p-tabPanel header="Pending">
                        </p-tabPanel>
                        <p-tabPanel header="Approved">
                        </p-tabPanel>
                        <p-tabPanel header="Disapproved">
                        </p-tabPanel>
                    </p-tabView>
                </div>

                <div #row1 class="p-col-12 p-md-12 p-lg-12">
                    <!-- <div class="p-col-12 p-md-12 p-lg-12"> -->
                        <div style="text-align: right;">
                            <button pButton type="button" icon="pi pi-file-excel" label="Export"
                                style="color: yellowgreen;" (click)="dt.exportCSV()"
                                pTooltip="Excel-File download"></button>
                        </div>

                <p-table #dt [columns]="cols" [value]="filteredData" [paginator]="true" [rows]="10"
                        [rowsPerPageOptions]="[5,10,15,20]" totalRecords="totalRecords"
                        exportFilename="MONTHLYINTENT_APPROVAL_REPORT" styleClass="p-datatable-gridlines">
                         <ng-template pTemplate="caption">
                           <div class="p-d-flex">
                               <span class="p-input-icon-left p-ml-auto">
                                   <i class="pi pi-search"></i>
                                   <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword" />
                               </span>
                           </div>
                           </ng-template> 
                         
                         
                           
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th>S.No</th>
                                <th *ngFor="let col of columns">
                                    {{col.header}}
                                </th>
                                <th *ngIf="(tabIndex == 0)">
                                    Approve
                                </th>
                                <th *ngIf="(tabIndex == 0)">
                                    Disapprove
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
                            <tr [pSelectableRow]="rowData" class=" tr-border cursor-pointer">
                                <td class="td-border">

                                    <span class="p-column-title">

                                        S.No :

                                    </span>

                                    <span style="text-align: end;">

                                        {{rowIndex+1}}

                                    </span>

                                </td>
                                <td *ngFor="let col of columns" [style.text-align]="col.align" class="td-border">

                                    <span class="p-column-title">

                                        {{col.header}} :

                                    </span>

                                    <span style="text-align: end;"> {{rowData[col.field]}}

                                    </span>

                                </td>

 
                                <td *ngIf="(tabIndex == 0)" (click)="onUpdate(rowData, 1)">
                                    <button pButton type="button" pButton icon="pi pi-check"></button>
                                </td>
                                <td *ngIf="(tabIndex == 0)" (click)="onUpdate(rowData, 2)">
                                    <button pButton type="button" pButton icon="pi pi-times"></button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table> 

<!-- show table -->
<!-- <div *ngIf="showTable" class="p-col-12 p-md-12 p-lg-12">
    <p-table [columns]="cols" [value]="data" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[5,10,15,20]"
            totalRecords="totalRecords"  styleClass="p-datatable-gridlines">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th>S.No</th>
                    <th *ngFor="let col of columns" >
                        {{col.header}}
                    </th>

                </tr>
            </ng-template>


            <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
                <tr [pSelectableRow]="rowData" class="cursor-pointer" (dblclick)="onRowSelect($event, rowData)">
                    <td>{{rowIndex+1}}</td>
                    <td *ngFor="let col of columns">
                        {{rowData[col.field]}}
                    </td>
                </tr>


            </ng-template>
        </p-table> -->
</div>
            </div>
        </p-card>
        </p-panel>
    </div>
</div>
