<div class="p-col-12 p-md-12 p-lg-12">
    <p-toast position="top-center" key="t-msg"></p-toast>
    <p-panel header="Food Master">
        <div class="p-grid">
            <div class="p-col-12 p-md-12 p-lg-12">
                <form #f="ngForm" name="foodmasterForm">
                    <p-card>
                        <div class="p-grid">
                            <div class="p-col-12 p-md-6 p-lg-1"></div>
                            <div class="p-col-12 p-md-6 p-lg-2">
                                <div><label for="_Hosteltype">Hostel Type<span
                                            class="form-mandatory-field">*</span></label></div>
                                <p-dropdown name="_Hosteltype" [options]="HosteltypeOptions" [(ngModel)]="Hosteltype"
                                    (onClick)="onSelect('HF')" required>
                                </p-dropdown>
                            </div>

                            <div class="p-col-12 p-md-6 p-lg-2">
                                <div><label for="_day">Week Days:வார நாட்கள்<span
                                            class="form-mandatory-field">*</span></label>
                                </div>
                                <p-dropdown name="_day" [options]="daysOptions" [(ngModel)]="selectedday"
                                    (onClick)="onSelect('D')" required>
                                </p-dropdown>
                            </div>

                            <div class="p-col-12 p-md-6 p-lg-2">
                                <div><label for="_breakfast">Breakfast:காலை உணவு<span
                                            class="form-mandatory-field">*</span></label></div>
                                <input type="text" pInputText [(ngModel)]="BreakFast" name="_breakfast" required />
                            </div>

                            <div class="p-col-12 p-md-6 p-lg-2">
                                <div><label for="_lunch">Lunch:மதிய உணவு<span
                                            class="form-mandatory-field">*</span></label></div>
                                <input type="text" pInputText [(ngModel)]="Lunch" name="_lunch" required />
                            </div>

                            <div class="p-col-12 p-md-6 p-lg-3"></div>
                            <div class="p-col-12 p-md-6 p-lg-1"></div>
                            <div class="p-col-12 p-md-6 p-lg-2">
                                <div><label for="_snacks">Snacks:சிற்றுண்டி<span
                                            class="form-mandatory-field">*</span></label></div>
                                <input type="text" pInputText [(ngModel)]="Snacks" name="_snacks" required />
                            </div>

                            <div class="p-col-12 p-md-6 p-lg-2">
                                <div><label for="_dinner">Dinner:இரவு உணவு<span
                                            class="form-mandatory-field">*</span></label></div>
                                <input type="text" pInputText [(ngModel)]="Dinner" name="_dinner" required />
                            </div>

                            <div class="p-col-12 p-md-6 p-lg-12 txt-center">
                                <button pButton name="save" type="button" label="Submit" icon="pi pi-save"
                                    (click)="onSubmit()" [disabled]='(!f.valid || !f.dirty)'></button>&nbsp;

                                <button pButton type="button" label="View" icon="pi pi-eye"
                                    (click)="onview()"></button>&nbsp;
                                <button pButton type="button" label="Clear" icon="pi pi-trash"
                                    (click)="onClear()"></button>
                            </div>
                            <div class="p-col-12 p-md-6 p-lg-12 txt-center" >
                                <div style="text-align: right;">
                                    <button pButton type="button" icon="pi pi-file-excel" label="Export"
                                        style="color: yellowgreen;" (click)="dt.exportCSV()"
                                        pTooltip="Excel-File download"></button>
                                </div>

                                <p-table #dt [columns]="cols" [value]="data" [paginator]="true" [rows]="10"
                                    [rowsPerPageOptions]="[5,10,15,20]" totalRecords="totalRecords"
                                    styleClass="p-datatable-gridlines" exportFilename="Food_Details_REPORT">
                                    <ng-template pTemplate="header" let-columns>
                                        <tr>
                                            <th>S.No</th>
                                            <th *ngFor="let col of columns">
                                                {{col.header}}
                                            </th>

                                        </tr>
                                    </ng-template>


                                    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex"
                                        let-columns="columns">
                                        <tr [pSelectableRow]="rowData" class=" tr-border cursor-pointer"
                                            (dblclick)="onRowSelect($event, rowData)">
                                            <td class="td-border">

                                                <span class="p-column-title">

                                                    S.No :

                                                </span>

                                                <span style="text-align: end;">

                                                    {{rowIndex+1}}

                                                </span>

                                            </td>
                                            <td *ngFor="let col of columns" [style.text-align]="col.align"
                                                class="td-border">

                                                <span class="p-column-title">

                                                    {{col.header}} :

                                                </span>

                                                <span style="text-align: end;"> {{rowData[col.field]}}

                                                </span>

                                            </td>
                                        </tr>


                                    </ng-template>
                                </p-table>
                            </div>
                        </div>
                    </p-card>

                </form>
            </div>
        </div>
    </p-panel>
</div>