<div class="p-grid">
    <div class="p-col-12 p-md-12 p-lg-12">
        <p-toast position="top-center" key="t-msg"></p-toast>
        <p-panel header="Commodity Master">
            <form #f="ngForm" name="commodityMaster">
                <p-card>
                    <div class="p-col-2"></div>
                    <div class="p-col-12 no-pad-top">
                        <div class="p-grid">
                            <div class="p-col-2"></div>
                            <div #row1 class="p-col-12 p-md-12 p-lg-8">
                                <div class="p-grid">
                                    <div class="p-col-12 p-md-12 p-lg-3">
                                        <div><label for="_commodityname">Commodity Name(in ENGLISH)<span
                                                    class="form-mandatory-field">*</span></label></div>
                                        <input type="text" name="_commodityname" pInputText [(ngModel)]="commodityName"
                                            style="text-transform: capitalize;" required />
                                    </div>
                                    <div class="p-col-12 p-md-12 p-lg-3">
                                        <div><label for="_commoditytamilname">Commodity Name(தமிழில்)<span
                                                    class="form-mandatory-field">*</span></label></div>
                                        <input type="text" name="_commoditytamilname" pInputText
                                            [(ngModel)]="commodityTamilName" required />
                                    </div>
                                    <div class="p-col-12 p-md-12 p-lg-3">
                                        <div><label for="_commodityGroup">Commodity Group<span
                                                    class="form-mandatory-field">*</span></label></div>
                                        <p-dropdown name="_commodityGroup" [options]="cgroupOptions"
                                            (onClick)="onSelect('C')" [(ngModel)]="commodityGroup"></p-dropdown>
                                    </div>
                                    <div class="p-col-12 p-md-12 p-lg-3" style="margin-top: 23px;">
                                        <p-radioButton name="Flag" label="ACTIVE" value=1 [(ngModel)]="selectedType"
                                            required>
                                        </p-radioButton>
                                        <p-radioButton name="Flag" label="INACTIVE" value=0 [(ngModel)]="selectedType"
                                            required>
                                        </p-radioButton>
                                    </div>
                                    <div class="p-col-12 p-md-12 p-lg-12 txt-center">
                                        <button pButton type="button" label="Save" icon="pi pi-save" (click)="onSave()"
                                            [disabled]="(!f.valid || !f.dirty)"></button>&nbsp;
                                        <button pButton type="button" label="View" icon="pi pi-eye"
                                            (click)="onView()"></button>
                                    </div>
                            
                                    <!-- viewtable  -->
                                    <div *ngIf="showTable">
                                        <p-table [value]="data" styleClass="p-datatable-gridlines" [paginator]="true"
                                            [rows]="40" [rowsPerPageOptions]="[10,20,30,40]">
                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <th style="width: 50px;">S.No</th>
                                                    <th>Commodity Name(ENGLISH)</th>
                                                    <th>Commodity Name(தமிழ்)</th>
                                                    <th>Commodity Group</th>
                                                    <th>Status</th>
                                                    <th>Edit/Update</th>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                                                <tr class="tr-border">
                                                    <td class="td-border">
                                                        <span class="p-column-title">
                                                            S.No :
                                                        </span>
                                                        <span style="text-align: end;">
                                                            {{rowIndex+1}}
                                                        </span>
                                                    </td>
                                                    <td class="td-border">
                                                        <span class="p-column-title">
                                                            Commodity Name(ENGLISH) :
                                                        </span>
                                                        <span style="text-align: end;">
                                                            {{rowData.Name}}
                                                        </span>
                                                    </td>
                                                    <td class="td-border">
                                                        <span class="p-column-title">
                                                            Commodity Name(தமிழ்) :
                                                        </span>
                                                        <span style="text-align: end;">
                                                            {{rowData.NameTamil}}
                                                        </span>
                                                    </td>
                                                    <td class="td-border">
                                                        <span class="p-column-title">
                                                            Commodity Group :
                                                        </span>
                                                        <span style="text-align: end;">
                                                            {{rowData.CommodityGroup}}
                                                        </span>
                                                    </td>
                                                    <td class="td-border">
                                                        <span class="p-column-title">
                                                            Status :
                                                        </span>
                                                        <span style="text-align: end;">
                                                            {{rowData.status}}
                                                        </span>
                                                    </td>
                                                    
                                                    <td>
                                                        <span class="p-column-title">
                                                            Edit/Update :
                                                        </span><span><button icon="pi pi-pencil" pButton type="button"
                                                            pTooltip="Tap to edit" (click)="onEdit(rowData)">
                                                        </button></span></td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </p-card>
    </form>
    </p-panel>
</div>
</div>